
body {
	margin: auto;
	padding: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana;
}

h2 {
	color: #000099;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}


.errorMsg {
	font-weight: bold;
	margin: auto;
	text-align: center;
	color: #FFF;
	background-color: #990000;
	border: 1px solid #660000;
	padding: 5px;
}

.successMsg {
	font-weight: bold;
	margin: auto;
	text-align: center;
	background-color: #66CC66;
	border: 1px solid #33AA33;
	padding: 5px;
}

#board {
	margin: auto;
	width: 216px;
}

.board_cell {
	float: left;
	width: 70px;
	height: 70px;
	text-align: center;
	border: 1px solid #000;
}

.board_cell select{
	margin-top: 25px;
}

.break {
	clear: both;
}

#content {
	margin: auto;
	padding: 10px;
	width: 60%;
}